<html>
<head>
</head>
<body>
		<h1 align="center">Sign In Test Sameer Site</h1>
		<form method="get" action="/toLanding">
		<p class="input group">
		<span><span></span></span>
		<input type="text" required name="nm" placeholder="username"/>
		</p>
		<p>
		<small>Please login to use the Transport Hub</small>
		</p>
		<p>
		<button type="submit">Sign-In</button>
		</p>
		</form>
</body>
</html>
